body {
				background-color: #66ccff;
				margin-left: 10%;
				margin-right: 10%;
				padding: 10px 10px 10px 10px;
				font-family:sans-serif;
			}
.but{
	border: none;
	font-size: 20px;
	padding: 10px 20px 10px 20px; 
	color: #66ccff;
	border-radius: 15px;
	background-color: white;
}	
.style{
	padding: 20px 100px 100px 100px;
	border: 2px dotted black;
}
