

body{
				background-color: #66ccff;
				margin-left: 10%;
				margin-right: 10%;
				font-family: sans-serif;
			}
.style{
	border: 2px dotted black;
	margin-bottom: 10%;
	margin-top: 10%;
	padding: 100px 100px 100px 100px;
}	
.but{
	border: none;
	font-size: 20px;
	padding: 10px 20px 10px 20px; 
	color: #66ccff;
	border-radius: 15px;
	background-color: white;
	float:right;
}	
			
